<% 
    show_views ||= false 
    desc_cut   ||= 100
%>
<li>
<div class="source">
    <span class="author">
        <a href="<%= user_profile_path(username:source.user.username) %>" title="<%= source.user.username %> profile">
            <img class="avatar" src="<%= source.user.avatar %>"/>
            <%= truncate source.user.username, :length => 15 %>
        </a>
    </span>
    <span class="info">
        <%= link_to source.title, source_with_language_path(language_name: source.language.name, source_name: source.name ), { :class => 'title' } %>
        <span class="description">
          <%= if source.description.nil? or source.description.strip.empty?
                '<em>No description :/</em>'.html_safe
              else
                truncate source.description, :length => desc_cut
              end
          %>
        </span>
        <span class="meta">
            Posted into <%= link_to source.language.title, language_archive_path(source.language.name), { :class => 'language' } %>
          <span class="date">
            &bull; 
            <% if show_views %>
                <%= source.views %> views &bull; 
            <% end %>
            
            <%= time_ago_in_words( Time.at(source.created_at) ) %> ago
          </span>
          
            &bull;

            <% if signed_in? %>
              <% if @current_user.favorite? source %>
                <%= link_to 'Unfav :(', unfavorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", method: :post, remote: true  %>
              <% else %>
                <%= link_to 'Fav It!', favorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", method: :post, remote: true  %>
              <% end %>
            <% else %>
                <%= link_to_function 'Fav It!', 'showLoginModal()' %>
            <% end %>
        </span>
    </span>
</div>
</li>
