<%
  show_views  = false if local_assigns[:show_views].nil?
  desc_cut    = 100 if local_assigns[:desc_cut].nil?
  with_author = true if local_assigns[:with_author].nil?
%>

<% cache_expire_if( !signed_in?, "source_listing_#{show_views}_#{desc_cut}_#{with_author}_#{source.id}", 1.hour ) do %>
<li>
<div class="source">
    <% if with_author %>
    <span class="author">
        <a href="<%= user_profile_path(username:source.user.username) %>" title="<%= source.user.username %> profile">
            <%= avatar_tag source.user %>
            <%= truncate source.user.username, :length => 15 %>
        </a>
    </span>
    <% end %>
    <span class="info">
        <%= link_to_source source, :class => 'title' %>
        <span class="description">
          <%= if source.description.nil? or source.description.strip.empty?
                '<em>No description :/</em>'.html_safe
              else
                truncate source.description, :length => desc_cut
              end
          %>
        </span>
        <span class="meta">
            Posted into <%= link_to_language source.language, :class => 'language' %>
          <span class="date">
            &bull;
            <% if show_views %>
                <%= source.views %> views &bull;
            <% end %>

            <%= time_ago_in_words( Time.at(source.created_at) ) %> ago
          </span>

            &bull;

            <% if signed_in? %>
              <% if @current_user.favorite?(source) %>
                <%= link_icon_to 'Unfav', 'thumbs-down', unfavorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", method: :post, remote: true  %>
              <% else %>
                <%= link_icon_to 'Fav It!', 'thumbs-up', favorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", method: :post, remote: true  %>
              <% end %>
            <% else %>
                <%= link_icon_to_function 'Fav It!', 'thumbs-up', 'showLoginModal()' %>
            <% end %>
        </span>
    </span>
</div>
</li>
<% end %>
