<% cache_expire_if( !signed_in?, "source_#{controller.controller_name}_#{source.id}", 1.hour ) do %>
<li class="source">
  <h4><%= link_to_source source, { :class => 'title' }, true %></h4>
  <div class="description">
    <%= if source.description.nil? or source.description.strip.empty?
      '<em>No description :/</em>'.html_safe
      else
        truncate source.description, :length => 250
      end
    %>
  </div>
  <div class="author">
    <div class="avatar">
      <a href="<%= user_profile_path(username:source.user.username) %>" title="<%= source.user.username %> profile" class="avatar">
        <%= image_tag image_url(source.user.avatar), :height => '40', :width => '40', :alt => "#{source.user.username} avatar.", :class => 'imgavatar', :onerror => "this.src='#{image_url("/avatars/default.png")}';" %>
      </a>
      <a href="<%= user_profile_path(username:source.user.username) %>" title="<%= source.user.username %> profile" class="username">
        <%= truncate( source.user.username, :length => 20 ) %>
      </a>
    </div>

    <span class="follow">
      <% if signed_in? %>
        <% if @current_user != source.user %>
          <% if @current_user.follows?(source.user) %>
            <%= link_to 'Following', unfollow_path( type: Follow::TYPES[:user], id: source.user.id, format: :js ), class: "follow-#{Follow::TYPES[:user]}-#{source.user.id} following", method: :post, remote: true  %>
          <% else %>
            <%= link_to 'Follow', follow_path( type: Follow::TYPES[:user], id: source.user.id, format: :js ), class: "follow-#{Follow::TYPES[:user]}-#{source.user.id} follow", method: :post, remote: true  %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to_function 'Follow', 'showLoginModal()' %>
      <% end %>
    </span>
  </div>
  <div class="footer">
    <ul>
      <li>
        <span id="favcount-<%= source.id %>" class="count"><%= source.favorites.count %></span>
        <% if signed_in? %>
          <% if @current_user.favorite?(source) %>
            <%= link_icon_to '', 'thumbs-down', unfavorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", class: "notext", method: :post, remote: true  %>
          <% else %>
            <%= link_icon_to '', 'thumbs-up', favorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", class: "notext", method: :post, remote: true  %>
          <% end %>
        <% else %>
          <%= link_icon_to_function '', 'thumbs-up', 'showLoginModal()' %>
        <% end %>
      </li>
      <li>
        <span class="count"><%= source.views %></span>
        <i class="icon-eye-open"></i>
      </li>
      <li>
        <span class="count"><%= source.comments.count %></span>
        <i class="icon-comments"></i>
      </li>
    </ul>
  </div>
</li>
<% end %>
