<section id="source">
  <div class="small-column">
    <div id="publisher">
      <div class="pointer"></div>
      <span class="author">
        <a href="<%= user_profile_path(username:@source.user.username) %>" title="<%= @source.user.username %> profile">
          <%= avatar_tag @source.user %>
          <%= truncate @source.user.username, :length => 15 %>
        </a>
      </span>

      <span class="info">
        <%= link_to_language @source.language, :class => 'language' %>
        <br/>
        <i class="icon-eye-open"></i> <%= @source.views %>
      </span>
    </div>

  </div>

  <div class="medium-column">
    <div class="headblock">
      <h1><%= @source.title %></h1>
      <div style="width:728px;height:90px;margin:0 auto;">
        <script type='text/javascript'>
        <!--//<![CDATA[
          document.MAX_ct0 ='';
          var m3_u = (location.protocol=='https:'?'https://cas.criteo.com/delivery/ajs.php?':'http://cas.criteo.com/delivery/ajs.php?');
          var m3_r = Math.floor(Math.random()*99999999999);
          document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
          document.write ("zoneid=109548");document.write("&amp;nodis=1");
          document.write ('&amp;cb=' + m3_r);
          if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
          document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
          document.write ("&amp;loc=" + escape(window.location));
          if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
          if (document.context) document.write ("&context=" + escape(document.context));
          if ((typeof(document.MAX_ct0) != 'undefined') && (document.MAX_ct0.substring(0,4) == 'http')) {
              document.write ("&amp;ct0=" + escape(document.MAX_ct0));
          }
          if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
          document.write ("'></scr"+"ipt>");
        //]]>--></script>
      </div>
      <p class="description">
        <%=raw description(@source) %>
      </p>

      <ul class="buttons">
        <% if signed_in? %>
          <% if @current_user == @source.user or @current_user.is_admin? %>
            <li>
              <%= link_icon_to 'Edit', 'edit', source_edit_path(@source) %>
            </li>
            <li>
              <%= link_icon_to 'Delete', 'trash', source_delete_path(@source), :data => { :confirm => 'Are you sure?' } %>
            </li>
          <% end %>

          <li>
            <% if @current_user.favorite? @source %>
              <%= link_icon_to 'Unfav', 'thumbs-down', unfavorite_path( id:@source.id, format: :js ), id: "fav-#{@source.id}", method: :post, remote: true  %>
            <% else %>
              <%= link_icon_to 'Fav It!', 'thumbs-up', favorite_path( id:@source.id, format: :js ), id: "fav-#{@source.id}", method: :post, remote: true  %>
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_icon_to_function "Fav It!", 'thumbs-up', 'showLoginModal()' %>
          </li>
        <% end %>
        </li>
        <li>
          <%= link_icon_to 'Raw', 'file-text', raw_with_language_path( :language_name => @source.language.name, :source_name => @source.name ) %>
        </li>

        <li>
          <%= link_icon_to_function "Embed", "expand", "$('#embed').modal();" %>
        </li>
      </ul>

      <br style="clear:both"/>

      <%=raw highlight(@source) %>
    </div>

    <%= render :partial => 'comments/box', :locals => { object: @source } %>
  </div>

  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: false, source: @source } %>
</section>

<%= modal_dialog 'embed', 'Embed Me!' do %>
  <textarea><script type="text/javascript" src="<%= @source.url.gsub /\.html$/, '.js' %>"></script></textarea>
<% end %>
