<section id="source">
  <div class="small-column">
    <div id="publisher">
      <span class="author">
        <a href="<%= user_profile_path(username:@source.user.username) %>" title="<%= @source.user.username %> profile">
          <img class="avatar" src="<%= @source.user.avatar %>"/>
          <%= truncate @source.user.username, :length => 15 %>
        </a>
      </span>
      <span class="info">
        Posted into <%= link_to @source.language.title, language_archive_path(@source.language.name), { :class => 'language' } %> 
        <br/>
        <%= time_ago_in_words( Time.at(@source.created_at) ) %> ago
        <br/> 
        <%= @source.views %> views 
        
        <br/> 
        <br/> 

        <% if signed_in? %>
          <% if @current_user.favorite? @source %>
            <%= link_to 'Unfav :(', unfavorite_path( id:@source.id, format: :js ), id: "fav-#{@source.id}", method: :post, remote: true  %>
          <% else %>
            <%= link_to 'Fav It!', favorite_path( id:@source.id, format: :js ), id: "fav-#{@source.id}", method: :post, remote: true  %>
          <% end %>
        <% else %>
          <%= link_to_function 'Fav It!', 'showLoginModal()' %>
        <% end %>

        &bull;
  
        <%= link_to 'Raw', raw_with_language_path( :language_name => @source.language.name, :source_name => @source.name ) %> 

        &bull;

        <%= link_to_function 'Embed', "$('#embed').modal();" %>
      </span>
    </div>
  </div>  

  <div class="medium-column">
    <h1><%= @source.title %></h1>
    <p><%=raw description(@source) %></p>
    <%=raw highlight(@source) %>
    
    <%= render :partial => 'comments/box', :locals => { object: @source } %>
  </div>

  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: true } %>
</section>

<%= modal_dialog 'embed', 'Embed Me!' do %>
  <textarea><script type="text/javascript" src="<%= @source.url.gsub /\.html$/, '.js' %>"></script></textarea>
<% end %>
