<section id="source">
  <div class="medium-column">
    <div class="headblock">
      <h1><%= @source.title %></h1>
      <%= render :partial => "adv/criteo728x90" %>
      <div class="description">
        <%=raw description(@source) %>
      </div>

      <ul class="buttons">
        <% if signed_in? %>
          <% if @current_user == @source.user or @current_user.is_admin? %>
            <li>
              <%= link_icon_to 'Edit', 'edit', source_edit_path(@source) %>
            </li>
            <li>
              <%= link_icon_to 'Delete', 'trash', source_delete_path(@source), :data => { :confirm => 'Are you sure?' } %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= link_icon_to_function "Fav It!", 'thumbs-up', 'showLoginModal()' %>
          </li>
        <% end %>
        </li>
        <li>
          <%= link_icon_to 'Raw', 'file-text', raw_with_language_path( :language_name => @source.language.name, :source_name => @source.name ) %>
        </li>

        <li>
          <%= link_icon_to_function "Embed", "expand", "$('#embed').modal();" %>
        </li>
      </ul>

      <%=raw highlight(@source) %>
    </div>

    <%= render :partial => 'comments/box', :locals => { object: @source } %>
  </div>

  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: false, source: @source } %>
</section>

<%= modal_dialog 'embed', 'Embed Me!' do %>
  <textarea><script type="text/javascript" src="<%= @source.url.gsub /\.html$/, '.js' %>"></script></textarea>
<% end %>
