<%= modal_dialog 'login', 'Sign In' do %>
  <div class="connect">
    <%= link_to 'Facebook Connect', '/auth/facebook', :title => 'Login with your Facebook account.', :class => 'pure-button pure-button-primary' %> 
    <%= link_to 'Github Connect',   '/auth/github',   :title => 'Login with your Github account.',   :class => 'pure-button pure-button-primary' %>
  </div>
  <%= form_for :session, :url => sign_in_path, :html => { :class => 'pure-form pure-form-aligned' } do |f| %>
    <fieldset class="pure-group">
      <%= f.text_field :who, :placeholder => 'Username / Email' %>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </fieldset>

    <a href="#">Password Recovery</a>

    <%= f.submit "Sign in", :class => 'pure-button pure-button-primary' %>
  <% end %>
<% end %> 
