<% 
    modal = true if local_assigns[:modal].nil?

    helper, args, logos_size = if modal
                                 [ method( :modal_dialog ), [ 'login', 'Sign In' ], '-m' ]
                               else
                                 [ method( :content_tag ), [ :div, :class => 'login headblock' ], '' ]
                               end
%>
<%= helper.call *args do %>
  <% if !modal %><h1>Sign In</h1><% end %>

  <%= render :partial => 'sessions/connect' %>
  
  <%= form_for :session, :url => sign_in_path, :html => { :class => 'pure-form pure-form-aligned' } do |f| %>
    <% if @user %>
      <% @user.errors.full_messages.each do |msg| %>
        <p class="error"><%= msg %></p>
      <% end %>
    <% elsif flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <fieldset class="pure-group">
      <%= f.text_field :who, :placeholder => 'Username / Email' %>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </fieldset>

    <%= link_to "Password Recovery", new_passwords_path %>
    <% if modal %>
      <%= link_to "Register", sign_up_path %>
    <% end %>
    <%= f.submit "Sign in", :class => 'pure-button pure-button-primary' %>
  <% end %>
<% end %> 
