<li id="comment-<%= comment.id %>" class="comment">
  <span class="author">
    <a href="<%= user_profile_path(username:comment.user.username) %>" title="<%= comment.user.username %> profile">
      <%= avatar_tag comment.user %>
      <%= truncate comment.user.username, :length => 15 %>
    </a>
  </span>

  <span class="content">
    <%=raw comment.content %>

    <span class="meta">
      <%= time_ago_in_words( Time.at(comment.created_at) ) %> ago &bull; <%= link_icon_to_function 'Reply', 'reply', signed_in? ? "replyToComment( #{comment.id}, '#{comment.user.username}' )" : 'showLoginModal()' %> 
    </span>
    <ul>
    <% comment.children.each do |child| %>
      <%= render :partial => "comments/listing", :locals => { :comment => child } %>
    <% end %>
    </ul>
  </span>
</li>
