<div id="settings" class="headblock">
  <h1>Settings</h1>
  <%= render :partial => 'sessions/connect' %>
  
  <%= form_for @current_user, :url => {:controller => 'profile', :action => 'update'}, :html => { :class => 'pure-form pure-form-aligned' } do |f| %>
    <% @current_user.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
    <% @current_user.profile.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <p class="error"><%= error %></p>
      <% end %>
    <% end %>

    <fieldset> 
    <%= f.label :username, 'Username' %>  
    <%= f.text_field :username, :placeholder => 'Username' %>

    <%= f.label :avatar_upload, 'Avatar' %>
    <%= f.file_field :avatar_upload %>

    <%= f.fields_for :profile do |fp| %>
      <%= fp.label :aboutme, 'About Me' %>
      <%= fp.text_area :aboutme, :rows => 10, :placeholder => 'About Me' %>

      <%= fp.label "Receive weekly newsletter." %> 
      <%= fp.check_box :weekly_newsletter %>
      
      <%= fp.label :website, 'Website' %>
      <%= fp.text_field :website, :placeholder => 'Website' %>

      <%= fp.label :gplus, 'Google+ Profile' %>
      <%= fp.text_field :gplus, :placeholder => 'Google+ Profile' %>
    <% end %>

    <fieldset class="pure-group">    
      <%= f.label :password, 'Change Password' %>  
      <%= f.password_field :password, :placeholder => 'Password' %>
      <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
    </fieldset>

    <%= f.submit "Save", :class => 'pure-button pure-button-primary' %>
  <% end %>
</div>

