<div id="sidebar">
  <% if defined? source %>
    <div class="headblock ssummary">
      <p>
      This snippet has been posted by <a href="<%= user_profile_path(username:source.user.username) %>" title="<%= @source.user.username %> profile"><%= source.user.username %></a>
      <%= time_ago_in_words Time.at(source.created_at) %> ago in the <%= link_to_language source.language, :class => 'language' %> section.
      </p>
      <br style="clear:both;"/>
      <ul>
        <li><span class="count"><%= source.views %></span><i class="icon-eye-open"></i></li>
        <li>
          <span id="favcount-<%= source.id %>" class="count"><%= source.favorites.count %></span>
          <% if signed_in? %>
            <% if @current_user.favorite?(source) %>
              <%= link_icon_to '', 'thumbs-down', unfavorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", class: "notext", method: :post, remote: true  %>
            <% else %>
              <%= link_icon_to '', 'thumbs-up', favorite_path( id: source.id, format: :js ), id: "fav-#{source.id}", class: "notext", method: :post, remote: true  %>
            <% end %>
          <% else %>
            <%= link_icon_to_function '', 'thumbs-up', 'showLoginModal()' %>
          <% end %>
        </li>
        <li><span class="count"><%= source.comments.count %></span><i class="icon-comments"></i></li>
      </ul>
      <br style="clear:both;"/>    
      <%= render :partial => 'layouts/social_share', :locals => { source: source } %>   
      <div class="larrow"></div>      
    </div>    
    <%= render :partial => "adv/criteo300x250" %>    
  <% end %>

  <% if [ 'language', 'source' ].include? controller.controller_name %>
    <% unless signed_in? %>
      <%= link_icon_to_function 'Post a Snippet', 'plus-sign', 'showLoginModal()', :class => 'pure-button pure-button-green post-button' %>
      <p>
        Build up your personal collection of code snippets with ease and share them with the world!
      </p>
    <% end %>
  <% end %>

  <% if defined? source %>  
    <% cache( "source_#{source.id}_related", :expires_in => 24.hours ) do %>
      <% if source.related.load.empty? == false %>
        <div class="heading orange">
          <h3>Related Sources</h3>
        </div>
        <ul class="related">
        <% source.related.each do |related| %>
          <li>
            <%= link_to_source related %>
          </li>
        <% end %>
        </ul>
      <% end %>
    <% end %>

  <% else %>
    <%= render :partial => 'layouts/latest_users', :locals => { with_heading: with_heading } %>
  <% end %>

  <%= render :partial => 'layouts/latest_events' %>

  <% unless defined? source %>
    <%= render :partial => 'layouts/be_social' %>
    <br style="clear:both"/>
  <% end %>

  <% unless @cloud.nil? or @cloud.empty? %>
    <% cache( "tag_cloud_for_#{request.original_url}", :expire => 3.days ) do %>
    <div class="heading red">
      <h3>Cloud</h3>
    </div>
    <div class="cloud">
      <% tag_cloud(@cloud).each do |v,cloud| %>
        <% tag,size,count = cloud %>
        <%= link_to tag.value, search_path(what: tag.name), { :style => "font-size: #{size}px", :title => "The keyword #{tag.value} has #{count} elements." } %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
<br style="clear:both"/>
