<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% metas.each do |meta| %>
    <meta <% meta.each { |attr,value| %><%= attr %>="<%= value %>" <% } %>/>
  <% end %>
  <%= auto_discovery_link_tag(:rss, "http://emoticode.net/") %>
</head>
<body>
<nav id="navbar">
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% @languages.popular.take(15).each do |language| %>
            <li> 
                <%= navbar_language_link language %>
            </li>
        <% end %>
        <% cache "all_langs_#{Source.count}" do %>
        <li id="show-all-langs">
            <a href="#" onclick="return false;">All &raquo;</a>
            <div id="all-langs">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <% done = 0 %>
                        <% @languages.each_with_index do |language,i| %>
                            <% done += 1 %>
                            <td>
                                <%= link_to language.title, language_archive_path(language.name) %>
                                <span><%= language.sources_count %></span>
                            </td>
                            <% if i > 0 && ( i + 1 ) % 4 == 0 %>
                                </tr>
                            <% end %>
                        <% end %>
                        <% left = ( done % 4 )
                        if left 
                            ( 4 - left ).times { %><td></td><% }
                            %> </tr> <%
                        end
                        %>
                </table>
            </div>
          </li>
        <% end %>
    </ul> 
</nav>
<nav id="sub-navbar">
    <div class="inner">
        <ul>
            <% 
                linkset = if signed_in?
                [ 
                    link_to( 'Add Snippet', source_new_path ),
                    link_to( 'Profile',     user_profile_path(username: @current_user.username ) ),
                    link_to( 'Settings',    user_settings_path ),
                    link_to( 'Logout',      sign_out_path, :method => :delete )
                ]
                          else
                [
                    link_to_function( 'Add Snippet', 'showLoginModal()' ),
                    link_to( 'Login',       sign_in_path ),
                    link_to( 'Register',    sign_up_path )
                ]
                end
            %>

            <%=raw linkset.map { |link| "<li>#{link}</li>" }.join '<li>&bull;</li>' %>

            <% if signed_in? and @current_user.is_admin? %>
              <li>&bull;</li>
              <li>
                <div style="float:left;">
                  <script id="_wauura">var _wau = _wau || []; _wau.push(["small", "25cdcldn25dq", "ura"]);
                  (function() {var s=document.createElement("script"); s.async=true;
                  s.src="http://widgets.amung.us/small.js";
                  document.getElementsByTagName("head")[0].appendChild(s);
                  })();</script>
                </div>
              </li>
            <% end %>
        </ul>
        <ul class="right">
          <%=raw @pages.map { |page| "<li>#{ link_to(page.title, page_show_path(page: page.name) ) }</li>" }.join '<li>&bull;</li>' %>
        </ul>
    </div>
</nav>

<% unless signed_in? %>
  <%= render :partial => "sessions/new" %>
<% end %>

<% if current_page? root_url %>
  <%= render :partial => 'home/heading' %>
<% end %>

<div id="wrapper">
<%= yield %>
</div>

<footer id="footer">
  <p>
    Copyright &copy; EmotiCODE - A collaborative source code snippets aggregator and search engine.
    <br/>
    Powered by <strong><a href="http://gibson-db.in/" title="Gibson Cache Server">Gibson Cache Server</a></strong>
  </p> 
</footer>

<% if flash[:alert] %>
  <% error = flash[:alert] # make flash visible inside the yield'ed block %>
  <%= modal_dialog 'flash', 'Alert' do %>
    <%= error %>
  <% end %> 

  <script>$(function(){ $('#flash').modal(); });</script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=541383999216397";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<script type="text/javascript">
  // load socialize ASAP
  Socialite.load();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38685018-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
