<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% metas.each do |meta| %>
    <meta <% meta.each { |attr,value| %><%= attr %>="<%= value %>" <% } %>/>
  <% end %>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="search" type="application/opensearchdescription+xml" href="http://www.emoticode.net/opensearch.xml" title="EmotiCODE Search"/>
</head>
<body>
<% cache "main_navbar_#{Source.public.count}_#{request.fullpath.parameterize[0..99]}" do %>
<nav id="navbar">
  <ul>
    <li class="home">
    <a href="/" title="Home">
      Home
    </a>
    </li>
      <% @languages.popular.take(15).each do |language| %>
          <li>
              <%= navbar_language_link language %>
          </li>
      <% end %>
      <% cache "all_langs_#{Source.public.count}" do %>
      <li id="show-all-langs">
          <a href="#" onclick="return false;">All &raquo;</a>
          <div id="all-langs">
              <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                      <% done = 0 %>
                      <% @languages.each_with_index do |language,i| %>
                          <% done += 1 %>
                          <td>
                              <%= link_to_language language %>
                              <span><%= language.sources_count %></span>
                          </td>
                          <% if i > 0 && ( i + 1 ) % 4 == 0 %>
                              </tr>
                          <% end %>
                      <% end %>
                      <% left = ( done % 4 )
                      if left
                          ( 4 - left ).times { %><td></td><% }
                          %> </tr> <%
                      end
                      %>
              </table>
          </div>
        </li>
      <% end %>
  </ul>
</nav>
<% end %>
<% cache "sub_navbar_#{signed_in? ? @current_user.id : 0}_#{Page.count}" do %>
<nav id="sub-navbar">
    <div class="inner">
        <ul>
            <%
                linkset = if signed_in?
                [
                    link_to( 'Add Snippet',  source_new_path ),
                    link_to( 'Profile',      user_profile_path(username: @current_user.username ) ),
                    link_to( 'Settings',     user_settings_path ),
                    link_to( 'My Snippets',  user_snippets_path ),
                    link_to( 'My Favorites', user_favorites_path ),
                    link_to( 'Logout',       sign_out_path, :method => :delete )
                ]
                          else
                [
                    link_to_function( 'Add Snippet', 'showLoginModal()' ),
                    link_to( 'Login',       sign_in_path ),
                    link_to( 'Register',    sign_up_path ),
                    link_icon_to( 'Connect with Facebook', 'facebook', "/auth/facebook", { :title => "Login with your Facebook account." }),
                    link_icon_to( 'Connect with GitHub', 'github', "/auth/github", { :title => "Login with your Github account." })
                ]
                end
            %>

            <%=raw linkset.map { |link| "<li>#{link}</li>" }.join '<li>&bull;</li>' %>
        </ul>
        <ul class="right">
          <%=raw @pages.map { |page| "<li>#{ link_to(page.title, page_show_path(name: page.name) ) }</li>" }.join '<li>&bull;</li>' %>
        </ul>
    </div>
</nav>
<% end %>

<% unless signed_in? %>
  <%= render :partial => "sessions/new" %>
<% end %>

<% if current_page? root_url %>
  <%= render :partial => 'home/heading' %>
<% end %>

<div id="wrapper">
<%= yield %>
</div>

<footer id="footer">
  <div id="fwrapper">
    <ul>
      <li>
        <h3>Pages</h3>
        <% @pages.each do |page| %>
          <%= link_to page.title, page_show_path( :name => page.name ) %><br/>
        <% end %>
      </li>

      <li>
        <h3>Contacts</h3>
        <a href="http://www.twitter.com/emoticodedotnet" target="_blank" title="EmotiCODE on Twitter">Twitter</a><br/>
        <a href="http://plus.google.com/105672627985088123672" target="_blank" title="EmotiCODE on Google+">Google+</a><br/>
        <a href="https://www.facebook.com/pages/EmotiCODE/475488679182886" target="_blank" title="EmotiCODE on Facebook">Facebook</a><br/>
      </li>

      <li>
        <h3>Links</h3>
        <a href="http://www.evilsocket.net" target="_blank" title="The author personal website">evilsocket.net</a><br/>
        <a href="http://gibson-db.in/" target="_blank" title="Gibson Cache Server">gibson-db.in</a><br/>        
        <a href="http://www.bisontech.net/" target="_blank" title="BisonTech">bisontech.net</a><br/>
        <a href="http://www.ajaxdomainfinder.net/" target="_blank" title="Ajax Domain Finder">ajaxdomainfinder.net</a></br/>
      </li>
    </ul>
  </div>
</footer>

<% if flash[:alert] %>
  <% error = flash[:alert] # make flash visible inside the yield'ed block %>
  <%= modal_dialog 'flash', 'Alert' do %>
    <%= error %>
  <% end %>

  <script>$(function(){ $('#flash').modal(); });</script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=541383999216397";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38685018-1']);
  _gaq.push(['_trackPageview']);

  _gaq.push(['_trackEvent', 'Actions', 'Action', '<%= controller.controller_name %>#<%= controller.action_name %>' ]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="contatore visitatori online" ><script  type="text/javascript" >
try {Histats.start(1,2459155,4,0,0,0,"");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2459155&101" alt="contatore visitatori online" border="0"></a></noscript>
<!-- Histats.com  END  -->

<% if @show_joinus %>
  <%= modal_dialog 'joinus', 'Join Us!', :style => 'width:530px; height: 450px;' do %>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%">
          <div class="g-plus" data-width="230" data-href="//plus.google.com/105672627985088123672" data-rel="publisher"></div>
          <br/>
          <div class="fb-like-box" data-href="http://www.facebook.com/pages/EmotiCODE/475488679182886" data-width="230" data-show-faces="true" data-stream="false" data-header="false"></div>
        </td>
        <td>
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/EmotiCodeDotNet" data-widget-id="376735076983111681">Tweets di @EmotiCodeDotNet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </td>
      </tr>
    </table>
  <% end %>
  <script>$(function(){$('#joinus').modal();})</script>
<% end %>

</body>
</html>
