<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% metas.each do |meta| %>
    <meta <% meta.each { |attr,value| %><%= attr %>="<%= value %>" <% } %>/>
  <% end %>
</head>
<body>
<nav id="navbar">
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% @languages.popular.take(15).each do |language| %>
            <li> 
                <%= navbar_language_link language %>
            </li>
        <% end %>
        <li id="show-all-langs">
            <a href="#" onclick="return false;">All &raquo;</a>
            <div id="all-langs">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <% done = 0 %>
                        <% @languages.each_with_index do |language,i| %>
                            <% done += 1 %>
                            <td>
                                <%= link_to language.title, language_archive_path(language.name) %>
                                <span><%= language.sources.count %></span>
                            </td>
                            <% if i > 0 && ( i + 1 ) % 4 == 0 %>
                                </tr>
                            <% end %>
                        <% end %>
                        <% left = ( done % 4 )
                        if left 
                            ( 4 - left ).times { %><td></td><% }
                            %> </tr> <%
                        end
                        %>
                </table>
            </div>
        </li>
    </ul> 
</nav>
<nav id="sub-navbar">
    <div class="inner">
        <ul>
            <% 
                linkset = if signed_in?
                [ 
                    link_to( 'Add Snippet', source_new_path ),
                    link_to( 'Profile',     user_profile_path(username: @current_user.username ) ),
                    link_to( 'Settings',    user_settings_path ),
                    link_to( 'Logout',      sign_out_path, :method => :delete )
                ]
                          else
                [
                    link_to_function( 'Add Snippet', 'showLoginModal()' ),
                    link_to( 'Login',       sign_in_path ),
                    link_to( 'Register',    sign_up_path )
                ]
                end
            %>

            <%=raw linkset.map { |link| "<li>#{link}</li>" }.join '<li>&bull;</li>' %>
        </ul>
        <ul class="right">
            <% @pages.each do |page| %>
                <li><%= link_to page.title, page_show_path(page: page.name) %></li>
            <% end %>
        </ul>
    </div>
</nav>

<% unless signed_in? %>
  <%= render :partial => "sessions/new" %>
<% end %>

<div id="wrapper">
<%= yield %>
</div>

<footer id="footer">
   <p>
    	Copyright &copy; EmotiCODE - A collaborative source code snippets aggregator and search engine.
    	 
    	<br/>
    	Powered by <strong><a href="http://gibson-db.in/" title="Gibson Cache Server">Gibson Cache Server</a></strong>
    </p> 
</footer>

<% if flash[:alert] %>
  <% error = flash[:alert] # make flash visible inside the yield'ed block %>
  <%= modal_dialog 'flash', 'Alert' do %>
    <%= error %>
  <% end %> 

  <script>$(function(){ $('#flash').modal(); });</script>
<% end %>

</body>
</html>
